<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<div id="page-header" class="bg-gradient-8 font-inverse">
	<div id="mobile-navigation">
		<button id="nav-toggle" class="collapsed" data-toggle="collapse"
			data-target="#page-sidebar">
			<span></span>
		</button>
		<a th:href="@{/}" class="logo-content-small" title="Prolink"></a>
	</div>
	<div id="header-logo" class="logo-bg">
		<a th:href="@{/}" class="logo-content-big" title="Prolink">
			PLK <i>Prolink</i> <span></span>
		</a> <a th:href="@{/}" class="logo-content-small" title="Prolink">
			Prolink <i></i> <span></span>
		</a> <a id="close-sidebar" href="#" title="Close sidebar"> <i
			class="glyph-icon icon-angle-left"></i>
		</a>
	</div>
	<div id="header-nav-left">
		<div class="user-account-btn dropdown">

		</div>
	</div>
	<!-- #header-nav-left -->

	<div id="header-nav-right">
		<a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
			<i class="glyph-icon icon-arrows-alt"></i>
		</a> 
	</div>
	<!-- #header-nav-right -->
</div>
</html>