<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title th:remove="all"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body{
            margin: 22px 10px 10px;
        }
        .tx-left{
            text-align: left;
        }
        .msg{
            font-size: 18px;
        }
        .tb-header{
            background-color: rgb(35, 14, 153);
        }
        .text-table{
            font-size: 14px;
        }
        .text-table-red{
            color: red;
        }
    </style>
</head>
<body>
    <div style="text-align: center;">

        <div class="tx-left" th:each="m : ${mensagens}">
            <span class="msg" th:text="${m}"></span>
            <br /><br />
        </div>

        <div style="text-align: center;">
            <table class="table table-striped table-bordered table-hover table-sm table-responsive" border="2" cellpadding="2" cellspacing="0">
                <thead>
                <tr class="bg-primary">
                    <th class="bg-primary" scope="col"> <span class="text-white">Prazo</span></th>
                    <th class="bg-primary" scope="col"> <span class="text-white">Status</span></th>
                    <th colspan="2" class="bg-primary" scope="col"> <span class="text-white">Cliente</span></th>
                    <th class="bg-primary" scope="col"> <span class="text-white">Departamento</span></th>
                    <th class="bg-primary" scope="col"> <span class="text-white">Etapa</span></th>
                    <th class="bg-primary" scope="col"> <span class="text-white">Atividade</span></th>
                    <th class="bg-primary" scope="col"> <span class="text-white">O que fazer?</span></th>
                    <th colspan="3" class="bg-primary" scope="col"> <span class="text-white">Historico das atividades anteriores</span></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="element : ${map}">
                    <th scope="row"> <span class="text-table" th:classappend="${isAdmin} ? text-table-red : '' ">26/07/2019</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.status}">Pendente</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.processo.cliente.idFormatado}" >2508</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.processo.cliente.nomeFormatado}">A. M. V.</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.etapa.departamento.nome}">Comercial</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.etapa.etapa}">SEGUNDA</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.etapa.atividade.nome}">Último Balancete de verificação com as contas de resultado</span></th>
                    <th scope="row"> <span class="text-table" th:text="${element.key.etapa.descricao}">Receber </span></th>

                    <th scope="row">
                        <th:block th:each="value : ${element.value}">
                            <p><span class="text-table" th:text="${#calendars.format(value.criadoEm,'dd/MM/yyyy')}"></span><p>
                        </th:block>
                    </th>

                    <th scope="row">
                        <th:block th:each="value : ${element.value}">
                            <p><span class="text-table" th:text="${value.criadoPor.login}"></span><p>
                        </th:block>
                    </th>

                    <th scope="row">
                        <th:block th:each="value : ${element.value}">
                            <p><span class="text-table" th:text="${value.descricao}"></span><p>
                        </th:block>
                    </th>
                </tr>
                <tr>
                    <td colspan="11" th:if="${#lists.isEmpty(map)}"><span style="14px;">Nenhum registro foi encontrado</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>&nbsp;</div>
        <p><span style="color:#d3d3d3;">***Esse aviso &eacute; gerado automaticamente, n&atilde;o &eacute; necess&aacute;rio que responda***</span></p>
    </div>
</body>
</html>