<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorator="'layout/LayoutBody'">

<div class="container" layout:fragment="conteudo">
	
	<!-- jQueryUI Spinner -->
	
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/spinner/spinner.js}"></script>
	<script type="text/javascript">
	    /* jQuery UI Spinner */
	    $(function() { "use strict";
	        $(".spinner-input").spinner();
	    });
	</script>
	
	<!-- jQueryUI Autocomplete -->
	
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/autocomplete/autocomplete.js}"></script>
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/autocomplete/menu.js}"></script>
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/autocomplete/autocomplete-demo.js}"></script>
	
	<!-- Touchspin -->
	
	<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/touchspin/touchspin.css">-->
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/touchspin/touchspin.js}"></script>
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/touchspin/touchspin-demo.js}"></script>
	
	<!-- Input switch -->
	
	<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/input-switch/inputswitch.css">-->
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/input-switch/inputswitch.js}"></script>
	<script type="text/javascript">
	    /* Input switch */
	
	    $(function() { "use strict";
	        $('.input-switch').bootstrapSwitch();
	    });
	</script>
	
	<!-- Textarea -->
	
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/textarea/textarea.js}"></script>
	<script type="text/javascript">
	    /* Textarea autoresize */
	
	    $(function() { "use strict";
	        $('.textarea-autosize').autosize();
	    });
	</script>
	
	<!-- Multi select -->
	
	<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/multi-select/multiselect.css">-->
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/multi-select/multiselect.js}"></script>
	<script type="text/javascript">
	    /* Multiselect inputs */
	
	    $(function() { "use strict";
	        $(".multi-select").multiSelect();
	        $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
	    });
	</script>
	
	<!-- Uniform -->
	
	<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/uniform/uniform.css">-->
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/uniform/uniform.js}"></script>
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/uniform/uniform-demo.js}"></script>
	
	<!-- Chosen -->
	
	<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/chosen/chosen.css">-->
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/chosen/chosen.js}"></script>
	<script type="text/javascript" th:src="@{/layout/plugins/widgets/chosen/chosen-demo.js}"></script>

	
	<div id="page-title">
		<h2>Contatos</h2>
		<p>Acompanhamento de Contatos.</p>
		
		<div class="row">
			<div class="col">
				<div class="panel">
					<div class="panel-body">
						<form class="form-horizontal bordered-row" th:object="${contato}">
							<div class="form-group">
								<label class="col-sm-3 control-label">Origem do Contato:</label>
								<div class="col-sm-3">
									<th:block th:each="s : ${contatosTipos}">
										<div class=" radio-success">
											<label> <input id="${s}" type="radio"
												th:field="*{contatoTipo}" th:value="${s}" class="custom-radio"
												th:text="${s.descricao}" />
											</label>
										</div>
									</th:block>	
								</div>	
							</div>
						
							<div class="form-group">
			                    <label class="col-sm-1 control-label">Nome:</label>
			                    <div class="col-sm-6">
			                        <input type="text" class="form-control" id="" placeholder="ex: Jose da Silva" th:field="*{nome}">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label">Telefone</label>
			                    <div class="col-sm-6">
			                        <input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;(99) 9999-9999&apos;" th:field="*{telefone}">
			                        <div class="help-block">(99) 9999-9999</div>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label">Celular</label>
			                    <div class="col-sm-6">
			                        <input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;(99) 99999-9999&apos;" th:field="*{celular}">
			                        <div class="help-block">(99) 99999-9999</div>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label">E-mail:</label>
			                    <div class="col-sm-6">
			                        <input type="text" class="form-control" id="" placeholder="ex: meuemail@email.com" th:field="*{email}">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label class="col-sm-1 control-label">Site:</label>
			                    <div class="col-sm-6">
			                        <input type="text" class="form-control" id="" placeholder="ex: www.meusite.com.br" th:field="*{site}">
			                    </div>
			                </div>
							<div id="form-wizard-3" class="form-wizard">
				                <ul>
				                    <li>
				                        <a href="#step-1" data-toggle="tab">
				                            <label class="wizard-step">1</label>
				                      <span class="wizard-description">
				                         Cadastro Complementar
				                         <small>Documentos opcionais</small>
				                      </span>
				                        </a>
				                    </li>
				                    <li>
 				                        <a href="#step-2" data-toggle="tab"> 
				                            <label class="wizard-step">2</label>
						                    <span class="wizard-description">
					                         Definicoes de Origem
					                        <small>Definicoes basicas de origem</small>
					                      	</span>
				                        </a>
				                    </li>
				                    <li>
				                        <a href="#step-3" data-toggle="tab">
				                            <label class="wizard-step">3</label>
				                      <span class="wizard-description">
				                         Breve resumo
				                         <small>Um breve resumo sobre o cadastro</small>
				                      </span>
				                        </a>
				                    </li>
				                    <li>
				                        <a href="#step-4" data-toggle="tab">
				                            <label class="wizard-step">4</label>
				                      <span class="wizard-description">
				                         Endereco
				                         <small>Dados de Localizacao</small>
				                      </span>
				                        </a>
				                    </li>
				                    <li>
				                        <a href="#step-5" data-toggle="tab">
				                            <label class="wizard-step">5</label>
				                      <span class="wizard-description">
				                         Listas
				                         <small>Outras listas</small>
				                      </span>
				                        </a>
				                    </li>
				                </ul>
				                <div class="tab-content">
				                    <div class="tab-pane active" id="step-1">
				                        <div class="content-box">
				                            <h3 class="content-box-header bg-default">
				                                First
				                            </h3>
				                            <div class="content-box-wrapper">
				                            	<div class="form-group">
					                            	<label class="col-sm-3 control-label">Tipo de Contato:</label>
								                    <div class="col-sm-6">
								                        <div class="row">
								                            <div class="col-md-6">
								                            	<th:block th:each="s : ${pessoasTipos}">
									                                <div class=" radio-success">
									                                    <label>
																			<input id="${s}" name="pessoaTipo" type="radio" 
																			th:field="*{pessoaTipo}" th:value="${s}" class="custom-radio" th:text="${s.descricao}" />
									                                    </label>
									                                </div>
								                                </th:block>
								                            </div>
								                        </div>
								                    </div>
							                    </div>
							                    <div class="pessoa-juridica">
								                    <div class="form-group">
								                    	<label class="col-sm-2 control-label">Razao Social:</label>
									                    <div class="col-sm-6">
									                        <input type="text" class="form-control" id="" placeholder="" th:field="*{juridico.razao}" />
									                    </div>
								                    </div>
								                    <div class="form-group">
								                    	<label class="col-sm-2 control-label">Apelido:</label>
									                    <div class="col-sm-6">
									                        <input type="text" class="form-control" id="" placeholder="" th:field="*{juridico.apelido}" />
									                    </div>
								                    </div>
								                    <div class="form-group">
								                    	<label class="col-sm-2 control-label">Responsavel:</label>
									                    <div class="col-sm-6">
									                        <input type="text" class="form-control" id="" placeholder="" th:field="*{juridico.responsavel}" />
									                    </div>
								                    </div>
								                    <div class="form-group">
														<label class="col-sm-2 control-label">CNPJ</label>
										                <div class="col-sm-6">
										                	<input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;99.999.999/9999-99&apos;" th:field="*{juridico.cnpj}">
										                    <div class="help-block">99.999.999/9999-99</div>
										                </div>
										            </div>
										            <div class="form-group">
														<label class="col-sm-2 control-label">Inscricao Municipal</label>
										                <div class="col-sm-6">
										                	<input type="text" class="form-control" th:field="*{juridico.im}">
										                </div>
										            </div>
										            <div class="form-group">
														<label class="col-sm-2 control-label">Inscricao Estadual</label>
										                <div class="col-sm-6">
										                	<input type="text" class="form-control" th:field="*{juridico.ie}">
										                </div>
										            </div>
									            </div>
									            <div class="pessoa-fisica">
								                    <div class="form-group">
								                    	<label class="col-sm-2 control-label">RG:</label>
									                    <div class="col-sm-6">
									                        <input type="text" class="form-control" id="" placeholder="" th:field="*{fisico.rg}" />
									                    </div>
								                    </div>
								                    <div class="form-group">
														<label class="col-sm-2 control-label">CPF</label>
										                <div class="col-sm-6">
										                	<input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;999.999.999-99&apos;" th:field="*{fisico.cpf}">
										                    <div class="help-block">999.999.999-99</div>
										                </div>
										            </div>
								                    <div class="form-group">
														<label class="col-sm-2 control-label">Aniversario</label>
										                <div class="col-sm-6">
										                	<input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;99/99&apos;" th:field="*{fisico.aniversario}">
										                    <div class="help-block">99/99</div>
										                </div>
										            </div>
									            </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="tab-pane" id="step-2">
				                        <div class="content-box">
				                            <h3 class="content-box-header bg-black">
				                                Second
				                            </h3>
				                            <div class="content-box-wrapper">
				                                <div class="form-group">
													<div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Lista:</label> 
										            	<select class="form-control">
															<option value="">--</option>
															<option selected="selected"
																th:each="l : ${listas}"
																th:value="${l}" th:text="${l}">
															</option>
														</select>
													</div>
													<div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Categoria:</label> 
										            	<select class="form-control" th:field="*{categoria}">
															<option value="">--</option>
															<option selected="selected"
																th:each="l : ${categorias}"
																th:value="${l.id}" th:text="${l.nome}">
															</option>
														</select>
													</div>
													<div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Nivel:</label> 
										            	<select class="form-control" th:field="*{nivel}">
										            		<option value="">--</option>
															<option selected="selected"
																th:each="l : ${niveis}"
																th:value="${l.id}" th:text="${l.nome}">
															</option>
														</select>
													</div>
													<div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Origem:</label> 
										            	<select class="form-control" th:field="*{origem}">
															<option value="">--</option>
															<option selected="selected"
																th:each="l : ${origens}"
																th:value="${l.id}" th:text="${l.nome}">
															</option>
														</select>
													</div>
								                    <div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Servico:</label> 
										            	<select class="form-control" th:field="*{servico}">
															<option value="">--</option>
															<option selected="selected"
																th:each="l : ${servicos}"
																th:value="${l.id}" th:text="${l.nome}">
															</option>
														</select>
													</div>
								                    <div class="col-sm-2">
										            	<label class="col-sm-1 control-label">Atendente:</label> 
										            	<select class="form-control" th:field="*{atendente}">
															<option value="">--</option>
															<option selected="selected"
																th:each="l : ${atendentes}"
																th:value="${l.id}" th:text="${l.nome}">
															</option>
														</select>
													</div>
						                        </div>
						                        <div class="form-group">
								                    <label class="col-sm-3 control-label">Convites</label>
								                    <div class="col-sm-6">
								                        <div class="row">
								                            <div class="col-md-6">
								                                <div class="checkbox checkbox-primary">
								                                    <label>
								                                        <input type="checkbox" id="inlineCheckbox110" class="custom-checkbox"  th:checked="*{convite}? 'checked'" th:field="*{convite}">
								                                        Convite para Eventos
								                                    </label>
								                                </div>
								                                <div class="checkbox checkbox-primary">
								                                    <label>
								                                        <input type="checkbox" id="inlineCheckbox110" class="custom-checkbox"  th:checked="*{material}? 'checked'" th:field="*{material}">
								                                        Material
								                                    </label>
								                                </div>
								                                <div class="checkbox checkbox-primary" >
								                                    <label>
								                                        <input type="checkbox" id="inlineCheckbox110" class="custom-checkbox" th:checked="*{newsletter}? 'checked'" th:field="*{newsletter}">
								                                        Newsletter
								                                    </label>
								                                </div>
								                            </div>
								                            <div class="form-group">
								                                <div class="col-sm-6">
													            	<label class="col-sm-1 control-label">Mala&nbspDireta:</label> 
													            	<select class="form-control" th:field="*{malaDireta}">
																		<option value="">--</option>
																		<option selected="selected"
																			th:each="l : ${malaDireta}"
																			th:value="${l.id}" th:text="${l.nome}">
																		</option>
																	</select>
																</div>
								                            
								                            </div>
								                        </div>
								                    </div>
						                        
						                        </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="tab-pane" id="step-3">
				                        <div class="content-box">
				                            <h3 class="content-box-header bg-green">
				                                Third
				                            </h3>
				                            <div class="content-box-wrapper">
				                               <div class="form-group">
								                    <label class="col-sm-3 control-label">Resumo</label>
								                    <div class="col-sm-6">
								                        <textarea name="" id="" class="form-control textarea-autosize" th:field="*{resumo}"></textarea>
								                    </div>
								                </div>
								                <div class="form-group">
								                    <label class="col-sm-3 control-label">Apresentacao sob Medida</label>
								                    <div class="col-sm-6">
								                        <textarea name="" id="" class="form-control textarea-autosize" th:field="*{apresentacao}"></textarea>
								                    </div>
								                </div>
								                <div class="form-group">
								                    <label class="col-sm-3 control-label">Detalhes da Origem</label>
								                    <div class="col-sm-6">
								                        <textarea name="" id="" class="form-control texarea-autosize" th:field="*{detalhesOrigem}"></textarea>
								                    </div>
								                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="tab-pane" id="step-4">
				                        <div class="content-box">
				                            <h3 class="content-box-header bg-blue">
				                                Forth
				                            </h3>
				                            <div class="content-box-wrapper">
				                                <div class="form-group">
								                    <label class="col-sm-1 control-label">CEP</label>
								                    <div class="col-sm-4">
								                        <input type="text" class="input-mask form-control" data-inputmask="&apos;mask&apos;:&apos;99999-999&apos;" th:field="*{cep}">
								                        <div class="help-block">99999-999</div>
								                    </div>
								                </div>
								                <div class="form-group">
								                    <label class="col-sm-1 control-label">Logradouro:</label>
								                    <div class="col-sm-4">
								                        <input type="text" class="form-control" id="" placeholder="ex: Av. Liberdade" th:field="*{endereco}">
								                    </div>
								                    <label class="col-sm-1 control-label">Numero:</label>
								                    <div class="col-sm-2">
								                        <input type="text" class="form-control" id="" placeholder="ex: 1100" th:field="*{numero}">
								                    </div>
								                </div>
								                <div class="form-group">
								                    <label class="col-sm-1 control-label">Bairro:</label>
								                    <div class="col-sm-4">
								                        <input type="text" class="form-control" id="" placeholder="" th:field="*{bairro}">
								                    </div>
								                    <label class="col-sm-1 control-label">Compl..:</label>
								                    <div class="col-sm-2">
								                        <input type="text" class="form-control" id="" placeholder="ex: Apto 2" th:field="*{complemento}">
								                    </div>
								                </div>
								                <div class="form-group">
								                		<label class="col-sm-1 control-label">Cidade:</label> 
														<div class="col-sm-4">
								                    		<select class="form-control" th:field="*{cidade}">
																<option value="">--</option>
																<option selected="selected" th:each="l : ${cidades}"
																	th:value="${l.id}" th:text="${l.nome}"></option>
															</select>
														</div>
														<label class="col-sm-1 control-label">Estado:</label>
														<div class="col-sm-2">
							                        		<select class="form-control" th:field="*{estado}">
															    <option selected="selected"
															    	th:each="s : ${T(com.prolink.processos.model.Cidade.Estado).values()}"
																	th:value="${s}"
																	th:text="${s}">
																</option>
															</select>
														</div>
								                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="tab-pane" id="step-5">
				                        <div class="content-box">
				                            <h3 class="content-box-header bg-blue">
				                                Final
				                            </h3>
				                            <div class="content-box-wrapper">
				                                Lorem ipsum dolor sic amet dixit tu.
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
							<div class="form-group">
								<div class="col-sm-10">
					            	<a class="btn btn-danger pull-right" th:href="@{/contatos}">
						            	<span class="glyph-icon icon-separator">
				                            <i class="glyph-icon icon-undo"></i>
				                        </span>
				                        <span class="button-content">
				                            Cancelar
				                        </span>
			                        </a>
								</div>
								<div class="col-sm-2">
					            	<a class="btn btn-info pull-right" th:href="@{/contatos}">
						            	<span class="glyph-icon icon-separator">
				                            <i class="glyph-icon icon-floppy-o"></i>
				                        </span>
				                        <span class="button-content">
				                            Salvar
				                        </span>
			                        </a>
								</div>
			                </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="javascript-extra">
<!-- Bootstrap Wizard -->
<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/wizard/wizard.css">-->
<script type="text/javascript" th:src="@{/layout/plugins/widgets/wizard/wizard.js}"></script>
<script type="text/javascript" th:src="@{/layout/plugins/widgets/wizard/wizard-demo.js}"></script>

<!-- Boostrap Tabs -->
<script type="text/javascript" th:src="@{/layout/plugins/widgets/tabs/tabs.js}"></script>

<script type="text/javascript">
	$( document ).ready(function() {
		$(".pessoa-juridica, .pessoa-fisica").hide();
		$("input:radio[name=pessoaTipo]").prop("checked", true);
		
		if ($("input:radio[name=pessoaTipo]:checked").val()) {
		
		}
	});

	$("input:radio[name=pessoaTipo]").on("change", function () {   
	    if($(this).val() == "EMPRESA")
	    {
	    	$(".pessoa-juridica").show(); 
	        $(".pessoa-fisica").hide();
	    }
	    else if($(this).val() == "PESSOA")
	    {
	    	$(".pessoa-juridica").hide(); 
	        $(".pessoa-fisica").show();   
	    }
	});
	
</script>

</th:block>
</html>