<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="modal fade" id="confirmacaoExclusaoModal" th:fragment="exclusao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<form th:attr="data-url-base=@{/contatos}" method="POST">
			<input type="hidden" name="_method" value="DELETE"/>
			<input type="text" name="_registro" value=""/>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>
				</div>
				<div class="modal-body">
					<span>Tem certeza que deseja apagar o registro?</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</form>
	</div>
</div>        	
</html>